<mat-card class="post-card position-relative">
  <mat-card-header *ngIf="post.image != null && post.image.length">
    <img mat-card-image [src]="post.image" alt="{{ post.creator.email}}" class="d-inline-block mx-auto">
  </mat-card-header>

  <div class="post-card--actions position-absolute pos-abs-top-right" style="top: 35px;">
    <button (click)="onEditClicked()" class="btn btn-light p-2 text-danger me-2" *ngIf="userUID == post.creator.uid">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="onDeleteClicked()" class="btn btn-light p-2 text-danger" *ngIf="userUID == post.creator.uid">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>
<!--      <a href="/post/{{ post.id }}" title="View Post">-->
        <strong class="lead">{{ post.title }}</strong>
    </mat-card-title>
    <mat-card-subtitle>⬆️{{ post.createdAt | formatDate: 'post-list' }}</mat-card-subtitle>
    <mat-card-subtitle>
      <span class="text-primary">📁{{ post.category }}</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      👤{{ post.creator.email! }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      <span class="lead">></span>{{ post.content.substr(0, 100) }}<span *ngIf="post.content.length > 100">...</span>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="onLikeClicked(post)">👍 &bull; [{{ likeCount }}]</button>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>

  <mat-card-footer>
    <form class="container-fluid" [formGroup]="postCommentForm">
      <mat-form-field appearance="fill" [style.width.%]="100">
        <mat-label>Add a Comment</mat-label>
        <input matInput type="text" required minlength="1" formControlName="comment"
          placeholder="Write your comment..." />
        <mat-icon matSuffix (click)="onReset()">cancel</mat-icon>
        <mat-icon matSuffix (click)="onSubmit()">send</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-footer>

  <mat-card-footer *ngIf="comments.length">
    <div class="container-fluid">
      <div class="row">
        <div class="card comment-card position-relative" *ngFor="let comment of comments">
          <div class="card-body">
            <p>{{ comment.content }}</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <p class="small mb-0 ms-2">{{ comment.useremail }}</p>
              </div>
            </div>
          </div>

          <div class="post-card--actions position-absolute pos-abs-top-right" style="top: 35px;"
            *ngIf="isCommentAuthor(userEmail, comment)">
            <button (click)="onCommentDelete(comment)" class="btn btn-light p-2 text-danger" *ngIf="userEmail == comment.useremail">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
