<div class="col-lg-10 offset-lg-1 col-md-6 offset-md-3 col-sm-12 mb-4 px-lg-2"
  *ngIf="keyword == undefined && filteredPosts.length > 0">
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="border-bottom border-2 d-inline pb-2">Filter by Category[📁]</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex flex-wrap gap-2">
      <button (click)="filterPostsByCategory(-1)" type="button" class="col flex-grow-0 btn btn-secondary btn-md"
        title="All">
        All
      </button>
      <button (click)="filterPostsByCurrentUser()" type="button" class="col col-auto btn btn-secondary btn-md"
        title="Show only my posts" *ngIf="isLoggedIn">
        My Posts
      </button>
      <button type="button" class="col flex-grow-0 btn btn-secondary btn-md" title="{{ category | capitilize }}"
        *ngFor="let category of availableCats" (click)="filterPostsByCategory(category)">
        {{ category | capitilize }}
      </button>
    </div>
  </div>
</div>

<div class="container-fluid post-list-container" *ngIf="filteredPosts.length > 0" [class.px-0]="keyword == undefined">
  <div class="row mx-0">
    <div
      [ngClass]="{'col-lg-10 offset-lg-1 col-md-6 offset-md-3 col-sm-12 mb-4' : keyword == undefined, 'col-12' : keyword !== undefined}">
      <div class="row container-row">
        <app-post-card *ngFor="let post of filteredPosts" [post]="post" [userUID]="userUID"
          (editClicked)="editPost($event)" (deleteClicked)="deletePost($event)"></app-post-card>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid empty-list-container" *ngIf="filteredPosts.length == 0">
  <div class="row justify-content-center align-items-center my-3">
    <img src="assets/undraw_nopostsfound.svg" alt="No posts found." class="img-fluid not-found-svg">
  </div>
  <div class="row">
    <div class="col flex-grow-1 text-center d-flex justify-content-center align-items-center gap-3">
      <h1 class="text-center my-3 d-inline" *ngIf="keyword == undefined">No Posts have been created yet!</h1>
      <h1 class="text-center my-3 d-inline" *ngIf="keyword != undefined">No Posts match your criteria!</h1>
      <button type="button" class="btn btn-primary d-inline" title="Create Post" routerLink="add-post">Create a
        Post</button>
    </div>
  </div>
</div>

<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->
