<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DG-NG Material Blog</title>
</head>

<body class="container-fluid ps-0">

  <div class="loading-container container-fluid d-flex flex-column justify-content-center align-items-center" *ngIf="!finishedLoading">
    <div class="row mx-0 px-5">
      <app-spinner></app-spinner>
    </div>
    <div class="row mx-0">
      <div>Please wait while the app is loading...</div>
    </div>
  </div>

  <app-header *ngIf="finishedLoading"></app-header>

  <app-main class="md-margin" *ngIf="finishedLoading"></app-main>

  <app-footer *ngIf="finishedLoading"></app-footer>

</body>

</html>
