<nav class="col-lg-10 offset-lg-1 col-md-6 offset-md-3 col-12 my-2 my-lg-3 py-3 px-lg-2">
  <div class="bg-primary-mat text-white d-inline-flex flex-wrap align-items-center px-2 gap-2">
    <a routerLink="/" class="col col-auto breadcr">🏠 Blog Home</a>
    <span class="seperator lead col col-auto" *ngIf="breadcrumbs.length > 0">></span>
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
      <ng-container *ngIf="!last">
        <a [routerLink]="breadcrumb.link" class="col col-auto breadcr">{{ breadcrumb.label }}</a>
      </ng-container>
      <ng-container *ngIf="last">
        {{ breadcrumb.label }}
      </ng-container>
      <span class="seperator lead col col-auto" *ngIf="!last">></span>
    </ng-container>
  </div>

</nav>
