/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

main {
  margin-top: 100px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.pos-abs-top-right {
  position: absolute !important;
  right: 0 !important;
  transform: translate(0, -50%) !important;
}
