/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

main {
  margin-top: 100px;
  min-height: 80vh;
}

/* Importing Bootstrap SCSS file. */

$primaryMat: #673ab7;
/* CUSTOM */

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.pos-abs-top-right {
  position: absolute !important;
  right: 0 !important;
  transform: translate(0, -50%) !important;
}

.color-primary-mat {
  color: $primaryMat;
}

.color-accent-mat {
}

.bg-primary-mat {
  background-color: $primaryMat;
  color: white;
}

.bg-accent-mat {
}

.text-white {
  color: white !important;
}
